div.medium-6.medium-centered.columns
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    <!-- Gueime -->
    ins.adsbygoogle(style="display:inline-block;width:728px;height:90px;", data-ad-client="ca-pub-6860477395965623", data-ad-slot="1283060394")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
a(href="/jogos/#{article.slug}"): h1#textTitle #{title}

!{body}

div.medium-6.medium-centered.columns
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    <!-- Gueime -->
    ins.adsbygoogle(style="display:inline-block;width:728px;height:90px;", data-ad-client="ca-pub-6860477395965623", data-ad-slot="1283060394")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});