h1 Contato
h5 Problemas, feedback, sugestões ou simplesmente um Oi para o Gueime. Independentemente de qual seja o assunto, respondemos rapidamente e estamos ansiosos pelo seu contato!
br
br
div.row
    div.large-12.columns
        form#infoContato(action="/sendContato", method="POST", data-abide="ajax")
            div.row
                div.medium-6.columns.name-field
                    label Nome <small>obrigatório</small>
                        input(type="text", placeholder="Nome", required, pattern="[a-zA-Z]+", name="nome")
                    small.error Por favor digite seu nome
                div.medium-6.columns
                    label Seu email
                        input(type="text", placeholder="Seu email", name="email")

            div.row
                div.medium-12.columns
                    label Mensagem <small>obrigatório</small>
                        textarea(placeholder="Sua mensagem", name="mensagem", style="box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);border: 1px solid #ccc", required)
                    small.error Por favor digite uma mensagem

            div.row
                div.small-12.medium-5.medium-centered.columns
                    a.button#enviarContato Enviar