footer.row
	div.large-4.columns
		img(src="/images/gueime-white.png")
		h4 Gueime - Notícias, artigos, análises e vídeos sobre games

		p &copy; 2016 - Gueime

	div.large-4.columns.footerLinks
		ul
			li
				a(href="/quem-somos") Quem somos
			li
				a(href="/parceiros") Tornar-se um parceiro
			li
				a(href="/contato") Contato
			li
				a(href="/rss") RSS Feed
