h1#textTitle Quer falar sobre Games?
p O Gueime é um site que segue três princípios:
ol
    li Video Game é arte, entretenimento, diversão, tecnologia e uma das melhore formas de alcançar a paz mundial.
    li O conteúdo que é publicado deve ser original, interessante e bem escrito.
    li O usuário deve, cada vez mais, fazer parte do site e se identificar com nosso modo de tratar os jogos digitais.

p Os dois primeiros pontos são simples e nossa equipe (bem preparada) busca escrever os melhores artigos possíveis. Contudo, você é parte fundamental do crescimento do Gueime. Não estamos falando de você ler nossos artigos ou nos dar feedback, apesar de ambos ser importantíssimos e sempre agradecemos pela preferência e pelo esforço em passar suas impressões do site. O que queremos dizer é que você pode escrever para o Gueime e fazer parte de nosso crescimento!

p …Ah! E seu trabalho gera pontos que podem ser trocados por jogos, produtos e muito mais!

div.row(style="background-color:#27B899;")
    div.medium-11.medium-centered.columns
        h3(style="color:white;padding: 10px") Pontos
br 
p No Gueime, seu esforço vale pontos! Queremos que você crie o conteúdo de forma espontânea e, principalmente, se divirta. Sabemos, contudo, que não é algo fácil, então vamos te recompensar por isso! A partir do momento que qualquer usuário se registra no Gueime, ele está participando de um jogo. Ganha-se pontos que podem ser trocados por diversos prêmios. Contudo, como um parceiro do Gueime, você ganhará mais pontos e terá acesso exclusivo a promoções, eventos e campeonatos.

div.row(style="background-color:rgb(71,158,205);")
    div.medium-11.medium-centered.columns
        h3(style="color:white;padding: 10px") Tipos de Conteúdo
br
div.row
    div.medium-6.columns
        h3 Análises

        p Um texto crítico que busca analisar os diversos pontos de um jogo. O autor deve ter um conhecimento explorativo e minucioso do jogo e deverá ser imparcial quanto aos elementos observados.
    div.medium-6.columns
        h3 Notícias

        p Informações concisas para fácil leitura. As notícias devem ser simples, diretas e conter fontes, fazendo delas um tipo de texto menos relaxado que os artigos e menos detalhado que as análises.
div.row
    div.medium-6.columns
        h3 Artigos

        p Artigos são uma forma mais livre de produzir conteúdo. Seja uma crítica politizada sobre um aspecto social dos games, um tutorial/passo a passo de um jogo que explorou bastante ou um comentário mais extenso, esse tipo de publicação é mais aberto e, caso queira, o autor também pode propôr novas diretrizes.
    
    div.medium-6.columns
        h3 Vídeos

        p Um Gameplay se caracteriza pela gravação de trechos de algum jogo com comentários e, se desejar, gravação do jogador no canto da tela. Já uma crítica, é a versão dos Artigos em forma de vídeo, ou seja, devem ser originais, interessantes e podem variar de acordo com a criatividade do autor. Uma vídeo análise, por sua vez, se caracteriza por um vídeo mais elaborado, com conteúdo gerado e editado pelo próprio autor.


p - Informações detalhadas sobre as diretrizes e estruturas dos tipos de conteúdo são disponibilizadas para todoss Parceiros.

p Então vamos ao regulamento:

div.row(style="background-color:#E54C3C;")
    div.medium-11.medium-centered.columns
        h3(style="color:white;padding: 10px") Você

p Os parceiros do Gueime escrevem pela emoção de falar sobre o que gostam. Seja a notícia de um jogo que você quer muito, um artigo sobre uma curiosidade no mundo dos games ou uma análise com suas impressões do seu game favorito, aqui você poderá escrever e ganhar pelo seu trabalho.

p Queremos que você tenha a liberdade de escrever sobre o que quiser, mas…peraí! Não gosta de escrever?! Não tem problemas, parceiros podem gravar seus vídeos e nos mandar. Publicaremos e divulgaremos para o Brasil (e quem sabe o mundo) também assistir.

p OK! Então vamos entender o que é preciso para colocar você preparado:

ul
    li Como mencionamos acima, temos princípios que não devem ser ignorados. Escrevemos para um público variado e, muitas vezes, exigente, então não podemos escrever textos com problemas gramaticais, frases sem sentido ou de forma chata. Os textos devem ser bem estruturados e fáceis de se compreender!
    li Todos os textos serão revisados, então conteúdos copiados de outros sites, mal escritos e/ou não apropriados não serão publicados e, caso seja um texto com potencial, enviaremos de volta ao autor com observações.
    li O parceiro só ganhará os pontos após  ter seu artigo revisado e publicado no Gueime.
    



div.row(style="background-color:#34495e;")
    div.medium-11.medium-centered.columns
        h3(style="color:white;padding: 10px") Gueime
br
p A partir do momento que os usuários ganham voz, o Gueime se torna cada vez mais um site com a cara do público gamer brasileiro e, com isso, representa melhor o que está sendo debatido sobre cada jogo ou mesmo o que pensamos sobre uma questão polêmica relacionada.

p Ao se relacionar com nosso parceiros, nos compromissamos a:

ul
    li Tratá-los com o respeito e a importância que temos com os próprios editores oficiais.
    li Analisar todos os textos enviados com cuidado e dar o mérito devido ao divulgar.
    li Não tolerar plágios ou conteúdos indevidos.

div.row(style="background-color:#27B899;")
    div.medium-11.medium-centered.columns
        h3(style="color:white;padding: 10px") E então?!
br
p Gostou? Está com alguma dúvida? Então não perca tempo e entre em contato com nossos administradores através do email:

p: b: big parceiros@gueime.com.br

p Ou pelo formulário abaixo

div.row
    div.large-12.columns
        form#infoContato(action="/sendContato", method="POST", data-abide="ajax")
            div.row
                div.medium-6.columns.name-field
                    label Nome <small>obrigatório</small>
                        input(type="text", placeholder="Nome", required, pattern="[a-zA-Z]+", name="nome")
                    small.error Por favor digite seu nome
                div.medium-6.columns
                    label Seu email <small>obrigatório</small>
                        input(type="text", placeholder="Seu email", name="email", required)

            div.row
                div.medium-12.columns
                    label Mensagem <small>obrigatório</small>
                        textarea(placeholder="Sua mensagem", name="mensagem", style="box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);border: 1px solid #ccc", required)
                    small.error Por favor digite uma mensagem

            div.row
                div.small-12.medium-5.medium-centered.columns
                    a.button#enviarContato Enviar

p Estamos ansiosos para publicar suas produções no Gueime e continuar com nosso maior objetivo: <b>Ser o melhor site de games do Brasil!!</b>