h1 Quem Somos
p Em uma conversa de nerds, surgiu a ideia de fazer um site de jogos. A ideia era criar um portal brasileiro que trouxesse informações confiáveis e atualizadas, análises precisas e uma comunidade envolvente e igualmente apaixonada pelos jogos como nós. Daí surgiu o Gueime.

p Este é um espaço de fãs para fãs. Nele colocamos online tudo o que sempre fizemos informalmente, mas com um objetivo sério já que a comunidade brasileira de jogos representa hoje a terceira maior do mundo e queremos fazer jus a este patamar. No Gueime fazemos análises de jogos e vídeos, mostramos as novidades e queremos discutir em conjunto tudo isso.

p Começamos com esse simples blog, mas o projeto vai muito além. Esse estágio temporário serve como aprendizado para podermos disponibilizar uma experiência única no mundo dos gueimes.