doctype html
<!--[if IE 9]><html class="lt-ie10" lang="pt_BR" > <![endif]-->
html.no-js(lang="pt_BR")
    head
        include head

    body
        div#fb-root

        script.
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '{561543940541408}',
                    status     : true,
                    xfbml      : true
                });
            };
            (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));   

        block content

        include scripts
        script.scriptLoad.
            container.waitForImages(function () {
                $("#spinning").hide();
                $('body').css('overflow-y', 'auto');
                container.animate({ 'opacity': 1 });

                container.isotope({
                    itemSelector: '.item',
                    layoutMode: 'masonry',
                    masonry:{
                        gutter: 20,
                        rowHeight: 10,
                        columnWidth: 24
                    }                    
                    
                });

                var nav = $('#nav-sticky');
                nav_sticky = nav.offset().top; //get the Y-position of section

                $(window).on({
                    scroll: function () { // fires when user scrolls
                        if ($(window).width() > 641) {
                            var current_position = window.pageYOffset; // get the current window Y-Position
                            if (current_position > nav_sticky) {
                                nav.addClass('sticky');
                                container.css('margin-top', 137); // add class to make the nav sticky using css
                                if ($(window).width() > 1025){
                                    $('.gueimeWhite').fadeIn();
                                }
                    
                            } else {
                                nav.removeClass('sticky');
                                container.css('margin-top', 0); // remove sticky css class
                                    $('.gueimeWhite').fadeOut();
                            }
                        }
                    }
                });
            }, null, true);
        script.
            $(window).on('popstate', function () {
                $('.content-wrap').fadeOut();
                $('body').css('overflow-y', 'auto');
                $('#darken').css('display', 'none');
                if($('#mainText').html() !== undefined){
                    ga('send', 'pageview', '/'+window.location.href.replace('http://www.gueime.com.br/',''));
                }
                $('.content').empty();
            });