script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="/javascripts/vendor/fastclick.js")
script(src="/javascripts/vendor/placeholder.js")
script(src="/javascripts/foundation.min.js")
script(src="/javascripts/vendor/isotope.js")
script(src="/javascripts/vendor/wait.js")
script.
    $(document).foundation();
script(src="/javascripts/vendor/dropzone.js")
script(src="/javascripts/vendor/jqueryUi.js")
script(src="/javascripts/profile.js")