doctype html
<!--[if IE 9]><html class="lt-ie10" lang="pt_BR" > <![endif]-->
html.no-js(lang="pt_BR")
    head
        include head
        if(canonical == true)
            link(rel="canonical", href="http://www.gueime.com.br/profile/#{profile.name.loginName}")

    body(style="overflow-y: auto; background: url('../images/pattern.png') repeat #34495e")
        div#fb-root
        script.
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '{561543940541408}',
                    status     : true,
                    xfbml      : true
                });
            };
            (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/all.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        div.outWrap(style="overflow:hidden;")
            block content

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/javascripts/vendor/fastclick.js")
        script(src="/javascripts/vendor/placeholder.js")
        script(src="/javascripts/foundation.min.js")
        script(src="/javascripts/vendor/isotope.js")
        script(src="/javascripts/vendor/wait.js")
        script.
            $(document).foundation();
        script(src="/javascripts/vendor/dropzone.js")
        script(src="/javascripts/vendor/jqueryUi.js")
        script(src="/javascripts/profile.js")

        script.
            $(window).on('popstate', function () {
                $('#myModal').foundation('reveal', 'close');
            });
            var facebookComments = $(".fb-comments");
            var facebookLikes = $('.fb-like');

            facebookLikes.attr("data-href", window.location.href);
            facebookComments.attr("data-href", window.location.href);

            if($(window).width() < 760){
                facebookComments.attr('data-width', 550)
            }
            if($(window).width() < 595){
                facebookComments.attr('data-width', 380)
            }
            FB.XFBML.parse();
        script.scriptLoad.
            profileContainer.waitForImages(function () {
                $("#spinning").hide();
                $('body').css('overflow-y', 'auto');
                profileContainer.animate({ 'opacity': 1 });

                profileContainer.isotope({
                    itemSelector: '.item',
                    layoutMode: 'masonry',
                    masonry:{
                        gutter: 20,
                        rowHeight: 10,
                        columnWidth: 24
                    }                    
                    
                });

                var n = $('.item').length;
                var b = "#{profile._id}";
                if (n < 7) {
                    $.ajax({
                        type: "GET",
                        url: "/paginationProfile",
                        data: {n: n, b: b},
                        dataType: 'html'
                    }).done(function (data) {
                        profileContainer.isotope('insert', $(data));
                    });
                }
            }, null, true);
            Dropzone.options.dropzoneProfileImage = {
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 2, // MB,
                addRemoveLinks: true,
                previewsContainer: null,
                init: function () {
                    this.on('addedfile', function () {
                        $('#loadingAj').show();
                    });
                    this.on("complete", function (file) {
                        console.log(file);
                        console.log(file.name);
                        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            $('#dropzoneProfileImage').css('width', '20%');
                            $('#loadingAj').fadeOut();
                            imageCover = '/uploads/' + thisUser + file.name;
                            $('.mainImage').delay(500).attr('style', 'background: url(/uploads/' + thisUser + file.name + ') no-repeat center 0px;');
                            window.setTimeout(function () { $('.mainImage').delay(6000).attr('style', 'background: url(https://s3-sa-east-1.amazonaws.com/portalgueime/images/userInput/' + thisUser + file.name + ') no-repeat center 0px;'); }, 6000);
                        }
                    });
                }
            };

            $(document).ready(function(){
                var $bg = $('.mainImage'),
                    origin = {x: 0, y: 0},
                    start = {x: 0, y: 0},
                    movecontinue = false;

                function move (e){
                    var moveby = {
                        x: origin.x - e.clientX,
                        y: origin.y - e.clientY
                    };

                    if (movecontinue === true) {
                        start.x = start.x - moveby.x;
                        start.y = start.y - moveby.y;

                        $(this).css('background-position', /*start.x + 'px ' Usar isso para mover tbm horizontal*/ 'center ' + start.y + 'px');
                    }

                    origin.x = e.clientX;
                    origin.y = e.clientY;

                    e.stopPropagation();
                    return false;
                }

                function handle (e){
                    movecontinue = false;
                    $bg.unbind('mousemove', move);

                    if (e.type == 'mousedown') {
                        origin.x = e.clientX;
                        origin.y = e.clientY;
                        movecontinue = true;
                        $bg.bind('mousemove', move);
                    } else {
                        $(document.body).focus();
                    }

                    e.stopPropagation();
                    return false;
                }

                function reset (){
                    start = {x: 0, y: 0};
                    $(this).css('backgroundPosition', '0 0');
                }

                $bg.bind('mousedown mouseup mouseleave', handle);
                $bg.bind('dblclick', reset);
            });
        script.
            $(window).on('popstate', function () {
                $('.content-wrap').fadeOut();
                $('body').css('overflow-y', 'auto');
                $('#darken').css('display', 'none');
                if($('#mainText').html() !== undefined){
                    ga('send', 'pageview', '/'+window.location.href.replace('http://www.gueime.com.br/',''));
                }
                $('.content').empty().css('background', 'white');
            });

        script.
            var thisUser = "#{user.name.loginName}";