div#spinningContent
    img(src="/images/spinning.gif")
div#loading
    div.exit: a X
    header.headerAjax.row
        div.large-4.columns
            img.articleLogo(src="/images/gueime.png")
        
    section.mainImageAjax(style="background: url('/images/naruto.jpg') no-repeat center -230px;")
        div.wrapImage
            article.bloco

    if(tipo == 'noticia')
        div.parallax(style="border-top:5px solid #27b899;")
            article#mainText(style="width: 100%; padding: 0 5%;")
                include partials/noticia
    else if(tipo == 'artigo')
        div.parallax(style="border-top:5px solid rgb(71,158,205);")
            article#mainText(style="width: 100%; padding: 0 5%;")
                include partials/artigo
    else
        div.parallax(style="border-top:5px solid #E54C3C;")
            article#mainText(style="width: 100%; padding: 0 5%;")
                include partials/analise

    footer.row
        div.large-4.columns
            img(src="/images/gueime-white.png")
            h4 Você está acessando o Gueime 3.0

            p &copy; 2014 - Gueime