extends createLayout

block content
    header.header.row
        div.content-wrap
            div.content
        div#darken
        div.row#searchBack(style="background-color: white;display:none;")
            div.large-4.medium-6.medium-centered.large-centered.columns(style="height:8rem;")
                span.vertical-align-helper
                img(src="/images/gueime.png", alt="Gueime Logo")

        div#nav-sticky
            div.nav
                div.row
                    div.large-5.medium-9.medium-centered.columns.large-centered
                        input#mainInput(type="text", placeholder="Ache tudo sobre Games!")

            div.contain-to-grid
                div.row
                    div.gueimeWhite.show-for-large-up(style="display:block;right:30px;left:auto")
                        img(src="/images/gueime-white.png", alt="white logo")
                    div.large-3.medium-4.small-8.columns
                        if (!user)
                            a.facebook(href="/auth/facebook") <i class="fa fa-facebook"></i> Login
                        else
                            a(href="/profile").user <i class="fa fa-user"></i> #{user.name.first}
                            a.create(href="/create") <i class="fa fa-pencil-square-o"></i> Create

                    div.show-for-small.small-4.columns
                        a.logout(href="/logout") <i class="fa fa-sign-out"></i> sair
                        
                            
                    div.large-7.medium-6.columns.small-12#tagSelection

                    if(user)
                        div.large-2.medium-2.show-for-medium-up.columns
                                a.logout(href="/logout") <i class="fa fa-sign-out"></i> sair
                    else
                        div.large-2.medium-2.show-for-mediu-up.columns

    div#wrapper
        section.mainImage
            div#loadingAj(style="display:none;")
                img(src="/images/spinning.gif")
            div.dropzone-previews
            form#dropzoneImage(action="/newCover", class="dropzone", enctype="multipart/form-data")
                input(type="file", name="file")
            div.wrapImage
                article.bloco
                


        div.parallax(style="border-top:5px solid #27b899;")
            article#mainText
                textarea#createTitle(name="content", placeholder="Ótimo Título")
                textarea#createContent(name="content")

        footer.row
            div.large-4.columns
                img(src="/images/gueime-white.png")
                h4 Você está acessando o Gueime 3.0

                p &copy; 2014 - Gueime
    