extends layouts/createLayout

block content
    header.header.row
        div.content-wrap
            div.content
        div#darken
        div.row#searchBack(style="background-color: white;display:none;")
            div.large-4.medium-6.medium-centered.large-centered.columns(style="height:8rem;")
                span.vertical-align-helper
                img(src="/images/gueime.png", alt="Gueime Logo")

        include partials/nav

    div#wrapper
        section.mainImage
            div#loadingAj(style="display:none;")
                img(src="/images/spinning.gif")
            div.dropzone-previews
            form#dropzoneImage(action="/newCover", class="dropzone", enctype="multipart/form-data")
                input(type="file", name="file")
            div.wrapImage
                article.bloco
                


        div.parallax(style="border-top:5px solid #27b899;")
            article#mainText
                textarea#createTitle(name="content", placeholder="Ótimo Título")
                textarea#createContent(name="content")
                div.teste

        footer.row
            div.large-4.columns
                img(src="/images/gueime-white.png")
                h4 Você está acessando o Gueime 3.0

                p &copy; 2014 - Gueime
    