extends layouts/gerenciarLayout

block content

    div#check(style="display:none;") check
    
    header.header.row.header2
        div.content-wrap
            div.content
        div#darken
        div.row#searchBack(style="background-color: white;display:none;")
            div.large-4.medium-6.medium-centered.large-centered.columns(style="height:8rem;")
                span.vertical-align-helper
                a(href="/"): img(src="/images/gueime.png", alt="Gueime Logo")

        div#specialLogo.gueimeWhite.show-for-large-up(style="display:block;right:30px;left:auto")
            a(href="/"): img(src="/images/gueime-white.png", alt="white logo")

        div#specialLogo.gueimeWhite.show-for-medium-down.smallLogo(style="display:block;left: auto; right:20px;position:absolute;")
            a(href="/"): img(src="/images/gueime-white-small.png", alt="white logo")

        include partials/nav

    div#wrapper
        if(user.status == 'admin' || user.status == 'editor')
            include partials/gerenciarAdmin
        else if(user.status == 'parceiro')
            include partials/gerenciarParceiro
                                        
                    
    div.row#load(style="display: none;")
        div.medium-6.small-centered.columns
            a#loadMore.button Mais artigos
                     
    include partials/footer

    div#myModal.reveal-modal(data-reveal)
        div#spinningContent
            img(src="/images/spinning.gif")