extends layouts/layout

block content
    div.content-wrap
        div.content
            
    div#darken       
    div.row(style="background-color: white;")
        div.large-4.medium-6.medium-centered.large-centered.columns(style="height:8rem;")
            span.vertical-align-helper
            a(href="/"): img(src="/images/gueime.png", alt="Gueime Logo")

    include partials/nav

    div#spinning
        img(src="/images/spinning.gif")
    div.row#gridArticles
        include partials/tiles
                            


    