extends layout

block content
    div.content-wrap
        div.content
            
    div#darken       
    div.row(style="background-color: white;")
        div.large-4.large-centered.columns(style="height:10rem;")
            span.vertical-align-helper
            img.reflect(src="/images/gueime.png", alt="Gueime Logo")
  
        div.socialclub.show-for-medium-up
            img(src="/images/facebook.png", alt="facebook page")
            img(src="/images/twitter.png", alt="twitter page")

    div#nav-sticky
        div.nav
            div.row
                div.large-5.medium-9.medium-centered.columns.large-centered
                    input#mainInput(type="text", placeholder="Ache tudo sobre Games!")

        div.contain-to-grid
            div.row
                div.gueimeWhite
                    img(src="/images/gueime-white.png", alt="white logo")
                div.large-2.columns
                    if (!user)
                        a.facebook(href="/auth/facebook") <i class="fa fa-facebook"></i> Login
                    else
                        a(href="/profile").user <i class="fa fa-facebook"></i> #{user.name.first}
                        a.create(href="/create") <i class="fa fa-pencil-square-o"></i> Create
                        a.logout(href="/logout") <i class="fa fa-sign-out"></i> sair
                        
                div.large-10.medium-12.columns#tagSelection


    div#spinning
        img(src="/images/spinning.gif")
    div.row#gridArticles
        div.grid-wrap

        a(href="/artigos/naruto-ganha-novo-dlc", data-link="ajax").item
            div.hidden.infoArticle
                p Naruto é um game bem interessante...ganhar do Gabriel é fácil fácil
            div.ext
                img.itemImg(src="http://www.osmais.com/wallpapers/201208/naruto-shippuden-wallpaper.jpg")
            div.details
                div.name
                    h2.ref Naruto Ganha novo DLC
                div.author
                    p.by por André Lucas <span> <i class="fa fa-calendar"></i> 12/04/2014</span>
                    p.graph 400 <i class="fa fa-eye"></i> 30 <i class="fa fa-comment"></i>


        a(href="/artigos/naruto-shippudden-ultimate-ninja-storm-3", data-link="ajax").item.w4
            div.hidden.infoGame
                p Naruto é um game bem interessante...ganhar do Gabriel é fácil fácil
            div.ext
                img.itemImg(src="http://images2.fanpop.com/image/photos/11600000/Sasuke-vs-Naruto-sasuke-vs-naruto-11619028-1440-1075.jpg")
            div.details
                div.game
                    h2.ref Naruto Shippudden Ultimate Ninja Storm 3
                div.author
                    p.by por André Lucas <span> <i class="fa fa-calendar"></i> 12/04/2014</span>
                    p.graph 400 <i class="fa fa-eye"></i> 30 <i class="fa fa-comment"></i>
                

        a.item.w4
            div.hidden.infoGame
                p Naruto é um game bem interessante...ganhar do Gabriel é fácil fácil
            div.ext
                img.itemImg(src="http://imagenface.com/imagens/imagenes-imajenes-de-naruto-40.jpg")
            div.details
                div.game
                    h2.ref Naruto Shippudden Ultimate Ninja Storm 3
                div.author
                    p.by por André Lucas <span> <i class="fa fa-calendar"></i> 12/04/2014</span>
                    p.graph 400 <i class="fa fa-eye"></i> 30 <i class="fa fa-comment"></i>

        a.item
            div.hidden.infoGame
                p Naruto é um game bem interessante...ganhar do Gabriel é fácil fácil
            div.ext
            div.details
                div.game
                    h2 Naruto Shippudden Ultimate Ninja Storm 3
                div.author
                    p.by por André Lucas <span> <i class="fa fa-calendar"></i> 12/04/2014</span>
                    p.graph 400 <i class="fa fa-eye"></i> 30 <i class="fa fa-comment"></i>

        a.item
            div.ext

        a.item
            div.ext

        a.item
            div.ext

        a.item
            div.ext

        a.item.w4
            div.ext
                            