extends layout

block content
    div.row
        div.large-4.large-centered.columns(style="height:10rem;")
            span.vertical-align-helper
            img.reflect(src="/images/gueime.png")
  
        div.socialclub.show-for-medium-up
            img(src="/images/facebook.png")
            img(src="/images/twitter.png")

    div#nav-sticky
        div.nav
            div.row
                div.large-5.medium-9.medium-centered.columns.large-centered
                    input#mainInput(type="text", placeholder="Ache tudo sobre Games!")

        div.contain-to-grid
            div.row
                div.large-8.large-offset-2.medium-12.columns#tagSelection



    div.row#gridArticles

        div.item
            div.ext
                img(src="http://www.osmais.com/wallpapers/201208/naruto-shippuden-wallpaper.jpg")


        div.item.w4
            div.ext
                img(src="http://images2.fanpop.com/image/photos/11600000/Sasuke-vs-Naruto-sasuke-vs-naruto-11619028-1440-1075.jpg")

        div.item.w4
            div.ext
                img(src="http://imagenface.com/imagens/imagenes-imajenes-de-naruto-40.jpg")

        div.item
            div.ext

        div.item
            div.ext

        div.item
            div.ext
                            