doctype html
<!--[if IE 9]><html class="lt-ie10" lang="pt_BR" > <![endif]-->
html.no-js(lang="pt_BR")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/stylesheets/base/normalize.css")
        link(rel="stylesheet", href="/stylesheets/base/foundation.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        
    
        script(src="/javascripts/vendor/modernizr.js")
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36793982-1']);
            _gaq.push(['_setDomainName', 'gueime.com.br']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    body
        block content

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/javascripts/vendor/fastclick.js")
        script(src="/javascripts/vendor/placeholder.js")
        script(src="/javascripts/foundation.min.js")
        script(src="/javascripts/vendor/packery.js")
        script(src="/javascripts/app.js")
        script.
            $(document).foundation();