doctype html
<!--[if IE 9]><html class="lt-ie10" lang="pt_BR" > <![endif]-->
html.no-js(lang="pt_BR")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="/stylesheets/base/normalize.css")
        link(rel="stylesheet", href="/stylesheets/base/foundation.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="icon", type="image/png", href="/images/favicon.png")
        
    
        script(src="/javascripts/vendor/modernizr.js")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-36793982-5', 'gueime.com.br');
            ga('send', 'pageview');

    body
        block content

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/javascripts/vendor/fastclick.js")
        script(src="/javascripts/vendor/placeholder.js")
        script(src="/javascripts/foundation.min.js")
        script(src="/javascripts/vendor/packery.js")
        script(src="/javascripts/vendor/wait.js")
        script(src="/javascripts/app.js")
        script.
            $(document).foundation();

            // Closing Overlay

            // Need to check if this is good for performance
            $(document).on('keyup', function (event) {
                if(event.keyCode == 27 ){
                    $('.content-wrap').fadeOut();
                    $('body').css('overflow-y', 'auto');
                    $('#darken').css('display', 'none');
                    window.history.go(-1);
                    ga('send', 'pageview', '/');
                }
            });

            container.waitForImages(function () {
                $("#spinning").hide();
                $('body').css('overflow-y', 'auto');
                container.animate({ 'opacity': 1 });


                container.packery({
                    itemSelector: '.item',
                    gutter: 20,
                    rowHeight: 10
                });
                var pckry = container.data('packery');

                var nav = $('#nav-sticky');
                nav_sticky = nav.offset().top; //get the Y-position of section

                $(window).on({
                    scroll: function () { // fires when user scrolls
                        if ($(window).width() > 641) {
                            var current_position = window.pageYOffset; // get the current window Y-Position
                            if (current_position > nav_sticky) {
                                nav.addClass('sticky');
                                container.css('margin-top', 137); // add class to make the nav sticky using css
                                if ($(window).width() > 1025){
                                    $('.gueimeWhite').fadeIn();
                                }
                    
                            } else {
                                nav.removeClass('sticky');
                                container.css('margin-top', 0); // remove sticky css class
                                 $('.gueimeWhite').fadeOut();
                            }
                        }
                    }
                });
            }, null, true);