body {
  overflow: hidden;
  background-color: #ecf0f1;
}
.row {
  max-width: 100%;
}
.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.reflect {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255,255,255,0.12)));
}
.socialclub {
  position: absolute;
  top: 50px;
  left: 68%;
}
.socialclub img {
  margin-right: 5px;
}
.gueimeWhite {
  display: none;
}
@media only screen and (min-width: 64.063em) {
  .gueimeWhite {
    position: fixed;
    top: 3px;
    left: 30px;
  }
}
.nav {
  height: 52px;
  background-color: #338ac3;
}
#nav-sticky {
  background: transparent;
  z-index: 50;
  min-width: 100%;
  padding: 0px;
}
.sticky {
  top: 0px;
  position: fixed;
}
input[type="text"],
textarea {
  height: 40px;
  margin-top: 6px;
}
.contain-to-grid {
  background-color: #479ecd;
  margin-bottom: 40px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
  overflow: auto;
}
.top-bar {
  background-color: #479ecd;
}
#gridArticles {
  opacity: 0;
}
#spinning,
#spinningContent {
  text-align: center;
  margin-top: 100px;
}
#spinningContent {
  display: none;
  z-index: 99999999;
}
#tagSelection {
  height: 45px;
  width: 80%;
}
#tagSelection span {
  position: relative;
  top: 14px;
  margin: -5px 5px 12px 0;
  font-weight: 700;
  color: #fff;
  background-color: #27b899;
  padding: 6px 8px 8px 8px;
  float: left;
}
#tagSelection span a {
  margin-left: 6px;
  color: #000;
  font-size: 10pt;
}
/* GRID */
.item {
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 24.5%;
  background-color: #479ecd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.hidden p {
  color: #fff;
  padding: 8px;
  position: relative;
  top: 60px;
}
.infoGame {
  background-color: #e54c3c;
}
.infoArticle {
  background-color: #27b899;
}
.item:hover {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.w4 {
  width: 50.5%;
}
.w6 {
  width: 100%;
}
.ext {
  height: 300%;
  width: 300%;
}
#gridArticles {
  max-width: 100%;
  margin-left: 12.5%;
}
.details {
  background-color: #fff;
  height: 70px;
  width: 100%;
  position: absolute;
  top: 180px;
}
.details h2 {
  color: #fff;
  font-size: 14pt;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.details p {
  color: #34495e;
  padding: 0 5px;
  margin-top: 4px;
}
.details p span {
  font-size: 10pt;
  float: right;
}
.details p.graph {
  position: relative;
  top: -23px;
  float: right;
}
.details p.by {
  padding-bottom: 10px;
  border-bottom: 1px dotted #34495e;
}
.details .name {
  padding: 1px 5px;
  width: 100%;
  background-color: #27b899;
}
.details .game {
  padding: 1px 5px;
  width: 100%;
  background-color: #e54c3c;
}
.titleHover {
  position: absolute;
  top: -170px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
@media only screen and (max-width: 64.063em) {
  #gridArticles {
    margin-left: 1%;
  }
  .item {
    width: 47%;
  }
  .w4 {
    width: 97%;
  }
}
.content-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  overflow: scroll;
}
.content {
  width: 85%;
  height: 200%;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  z-index: 999999;
  box-shadow: 0px 0px 2px 1px #34495e;
}
.content .exit {
  background-color: #e54c3c;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px 2px 0px 2px;
  border-radius: 30px;
}
.content .exit a {
  color: #fff;
  font-size: 18pt;
  padding: 0px 4px;
  display: block;
}
/* Content */
.content {
  border-top: 5px solid #27b899;
}
@media only screen and (max-width: 40em) {
  .content {
    width: 100%;
  }
  .ext2 {
    width: 200%;
    position: relative;
    left: -50%;
  }
  .mainImage {
    overflow: hidden;
  }
}
.mainImage {
  text-align: center;
  background-color: #338ac3;
}
.mainImage img {
  min-height: 180px;
}
.facebook {
  color: #fff;
  margin: 0px;
  padding: 14px;
  display: block;
}
.user,
.logout,
.create {
  color: #fff;
  margin: 0px;
  padding: 14px;
  display: block;
  float: left;
}
#darken {
  position: fixed;
  background-color: #34495e;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 998;
  display: none;
}
#loading {
  opacity: 0;
}
