@import 'base/base'

.row
    max-width 1650px

.vertical-align-helper
    display inline-block
    height 100%
    vertical-align middle

.reflect
    -webkit-box-reflect below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.12)))

.socialclub
    position absolute
    top 50px
    left 68%

.socialclub img
    margin-right 5px

.nav
    height 52px
    background-color gDarkBlue

#nav-sticky
    background transparent
    z-index 50
    min-width 100%
    padding 0px

.sticky
    top 0px
    position: fixed;

input[type="text"], textarea
    height 40px
    margin-top 6px

.contain-to-grid
    background-color gBlue
    margin-bottom 40px
    box-shadow 0px 3px 3px rgba(0,0,0,0.3)

.top-bar
    background-color gBlue

.tagSelection
    height 45px

body
    height 1300px