extends mylayout

block content

    #myGraph(style="height:600px;width:100%;background-color:white;")
    
    
    div.indice
        h1 Tecnologias
        ul
            li
                p(style="font-weight:bold;font-size:16pt;color:#f39c12") BlogSpot
            li
                p(style="font-weight:bold;font-size:16pt;color:#e67e22") PHP 
            li
                p(style="font-weight:bold;font-size:16pt;color:#9b59b6") HTML/CSS
            li
                p(style="font-weight:bold;font-size:16pt;color:#3498db") WordPress
            li
                p(style="font-weight:bold;font-size:16pt;color:#e74c3c") Ruby on Rails
